body{
    background-color: #e3f2fd;
}

.container{
     background-color: white;
}

.container .jumbotron{
     background-color: #e3f2fd;
}

#demo{
    background-position: center;
}

#legends{
    text-align:center;
}
